.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: rgb(199, 207, 39);
    z-index: 300;
    top: 0;
    width: 100%;
}

.navbar-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar-list li{
    display: inline;
}